doctype html
html
    head

        //- Documentation to help edit/configure files:
        //- https://leafletjs.com/reference-1.7.1.html
        //- https://pugjs.org/api/getting-started.html
        //- https://getbootstrap.com/docs/5.0/getting-started/introduction/

        //- UI uses Bootstrap 4
        link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css', integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T', crossorigin='anonymous')
        link(rel='stylesheet', href='https://unpkg.com/leaflet@1.6.0/dist/leaflet.css', integrity='sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ==', crossorigin='')

    //- Map and Schedule content
    body(style='overflow-x: hidden')
        div(style='width: auto; height: 100%; margin-left: auto; margin-right: auto; overflow-x: hidden; overflow-y: auto;')
            
            - var circle = []

            for coordinates in pickups 
                -var coor = []
                - coor.push(coordinates['Pick-up Latitude'])
                - coor.push(coordinates['Pick-up Longitude'])
                - coor.push(1)
                - circle.push(coor)

            //- MAP         
            #map(style='height: 64em; width: 100%')
            script(src='https://unpkg.com/leaflet@1.6.0/dist/leaflet.js', integrity='sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew==',
            crossorigin='')

            script
                include ../Leaflet.heat/src/HeatLayer.js
                include ../Leaflet.heat/dist/leaflet-heat.js
            
            //- Sets up the map display options
            script.
                var map = L.map("map").setView([37.961632, -121.275604], 12.5);
                var token = !{JSON.stringify(mapBox)};
                L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
                    attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
                    maxZoom: 19,
                    maxNativeZoom: 17,
                    scrollWheelZoom: false, // Prevents the map from moving when scrolling (only allows two finger scroll or mouse click)
                    id: 'mapbox/streets-v11',
                    tileSize: 512,
                    zoomOffset: -1,
                    accessToken: token 
                }).addTo(map);
                map.scrollWheelZoom.disable(); // Prevents the map from moving when scrolling (only allows two finger scroll or mouse click)
            script.
                var circ = !{JSON.stringify(circle)};
                L.heatLayer(circ, {radius: 25}).addTo(map)
